@import "tailwindcss";

/* 'dark' 클래스가 있을 때 다크모드 스타일 적용되도록 설정 */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* 공통 색상 정의 */
  --color-main: #9858f3;
  --color-main-10: #9858f31a;
  --color-main-20: #9858f333;
  --color-main-80: #9858f3cc;
  --color-alert: #f65050;
  --color-alert-online: #59d22d;
  --color-alert-friend: #ffd900;

  /* 기본 테마(라이트 모드) 색상 정의 */
  --color-background-main: #ffffff;
  --color-background-sub: #fafafa;
  --color-text-main: #111827;
  --color-text-sub: #6b7280;
  --color-text-light: #9ca3af;
  --color-text-placeholder: #d1d5db;
}

/* 다크 모드 색상 정의 ('.dark' 클래스가 있을 때 이 색상들로 덮어씌워짐) */
.dark {
  --color-background-main: #121212;
  --color-background-sub: #3c3c3c;
  --color-text-main: #f9fafb;
  --color-text-sub: #d1d5db;
  --color-text-light: #6b7280;
  --color-text-placeholder: #374151;
}

@layer components {
  .card-shadow {
    @apply rounded-[10px] shadow-[0_0_2px_rgba(0,0,0,0.12),0_2px_2px_rgba(0,0,0,0.24)];
  }
}
